* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
  background: #2e2e2e;
}

/* NAVBAR SECTION  */
.navbar {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1f1f1f;
  position: relative;
  height: 100px;
}
.logo h1 a {
  font-family: Sixtyfour;
  font-size: 30px;
  color: white;
}
.logo a:hover {
  color: orange;
}
.navbar ul {
  display: flex;
  gap: 30px;
  list-style: none;
}
.navbar a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  transition: 0.4s;
}
.navbar a:hover {
  color: orange;
}
/* THIS IS THE ICON IN UPPER RIGHT SIDE */
.menu-icon {
  display: none;
}
.menu-icon i {
  color: white;
  font-size: 35px;
  padding: 10px;
}
/*
    MAIN SECTION
*/
.title-section {
  background-image: url(images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  padding: 50px;
  background-color: white;
}
.title h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px;
  font-family: Sixtyfour;
  color: rgb(0, 0, 0);
  background-color: #ffffff62;
  font-size: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}
.description {
  padding: 50px;
}
.description-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  border-radius: 50px;
  padding: 50px;
  background-color: #1a1a1a;
}
.description-items h1 {
  font-size: 100px;
  color: #c2c2c2;
  font-family: monospace;
  font-weight: 900;
}
.description img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

/* MQ FOR RESPONSIVE DESIGN */

@media (max-width: 600px) {
  .logo h1 a {
    transition: 0.3s;
  }
  .logo h1 a:hover {
    color: orange;
  }
  .navbar ul {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    flex-direction: column;
    text-align: center;
    background-color: #ffa600be;
    overflow: hidden;
  }
  .navbar a {
    color: rgb(255, 255, 255);
    font-size: 21px;
    font-weight: 800;
    transition: 0.3s;
  }
  .navbar ul li {
    padding: 20px;
  }
  .menu-icon {
    display: block;
  }
  #menuList {
    transition: all 0.5s;
  }
  .navbar a:hover {
    color: rgb(0, 0, 0);
  }
  .menu-icon i {
    transition: 0.3s;
  }
  .menu-icon i:hover {
    color: orange;
  }
  /*

          MAIN SECTION
  
  */
  .title-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
  }
  .title h1 {
    font-size: 50px;
    padding: 10px 5px 10px 5px;
  }
  .description-items {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
  }
  .description-items h1 {
    text-align: center;
    font-size: 50px;
  }
}
@media (max-width: 950px) {
  .logo h1 a {
    transition: 0.3s;
  }
  .logo h1 a:hover {
    color: orange;
  }
  .navbar ul {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    flex-direction: column;
    text-align: center;
    background-color: #ffa600be;
    overflow: hidden;
  }
  .navbar a {
    color: rgb(255, 255, 255);
    font-size: 21px;
    font-weight: 800;
    transition: 0.3s;
  }
  .navbar ul li {
    padding: 20px;
  }
  .menu-icon {
    display: block;
  }
  #menuList {
    transition: all 0.5s;
  }
  .navbar a:hover {
    color: rgb(0, 0, 0);
  }
  .menu-icon i {
    transition: 0.3s;
  }
  .menu-icon i:hover {
    color: orange;
  }
  /*

          MAIN SECTION
  
  */
  .title-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
  }
  .title h1 {
    font-size: 50px;
    padding: 10px 5px 10px 5px;
  }
  .description-items {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
  }
  .description-items h1 {
    text-align: center;
    font-size: 50px;
  }
}
